{% extends 'html/base.html' %}
{% load static %}

{% block content %}

<!--<div><img src="{{ in.player_image.url }}"></div>-->
<style>
    #colorr{
    background-color: red!important;
    }
</style>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for inf in inform %}
        <div class="col">
          <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" onclick="location.href='{% url 'detail' inf.id %}'" src="{{ inf.player_image.url }} ">


            <div class="card-body" >
                <p class="card-text">Name:{{inf.name}}</p>
                <p class="card-text">Position:{{inf.position}}</p>
                <p class="card-text">Current Club:{{inf.team}}</p>
                <p class="card-text">Country:{{inf.country}}</p>


              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" ><a href="{% url 'detail' inf.id %}" >View</a></button>


                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>


{% endblock %}




